<nav class="navbar sticky-top">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/Title.svg" class="img-fluid">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#popmenu" aria-controls="popmenu"
    aria-expanded="false" aria-label="Toggle navigation">
    <img src="./assets/images/Popmenu.svg" width="80vw">
  </button>

  <div class="collapse navbar-collapse" id="popmenu">
    <nav class="nav nav-fill ">
      <a class="nav-item nav-link" 
      routerLink="/cart" 
      routerLinkActive="active">
          <img src="./assets/images/Checkout.svg">
      </a>
    </nav>
  </div>
</nav>
